{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  {% include "core/partials/head.html" %}
  <link rel="stylesheet" href="{% static "core/css/detalhe.css" %}">
  <body>
    {% include "core/partials/header.html" %}
    <main class="container-fluid p-0 detalhe">
      <h1 class="text-white fw-bold fs-1 p-5 pt-2 bg-azul my-5 text-center" style="height: 3.375rem;">História</h1>

      <section class="row justify-content-center align-items-end w-100 m-0 mt-5">
        <div class="container mt-4">
          <div class="row">
              <div class="d-flex justify-content-end me-1 mb-3 gap-2">
                <a href="{% url "core:atualizar-face" face.id %}" class="btn btn-primary">Atualizar</a>
                <a href="{% url "core:faces-deletar" face.id %}" class="btn btn-danger">Deletar</a>
              </div>
              <div class="col-md-3">
                  <div class="sidebar">
                      <h2>História</h2>
                      <img src="{{ face.imagem.url }}" alt="Machado de Assis" class="img-fluid mb-3">
                      <div>
                          <strong>Ocupação:</strong><br>
                          {{ face.ocupacao }}
                      </div>
                      <div>
                          <strong>Data de nascimento:</strong><br>
                          {{ face.data_nascimento }}
                      </div>
                      <div>
                          <strong>Data de morte:</strong><br>
                          {{ face.data_falecimento }}
                      </div>
                  </div>
              </div>
              <div class="col-md-9">
                  <div class="main-content p-4">
                      <h1>{{ face.nome }}</h1>
                      <p>{{ face.descricao }}</p>
                      {% comment %} <p>Foi um importante escritor brasileiro do século XIX, conhecido por seu realismo e simbolismo. Nascido em 1839 no Rio de Janeiro, teve uma origem humilde e autodidata. Tornou-se membro da Academia Brasileira de Letras e escreveu obras-primas como "Memórias Póstumas de Brás Cubas," "Quincas Borba," e "Dom Casmurro." Sua escrita única e refinada abordava temas como a natureza humana e a sociedade. Além de escritor, foi crítico literário e funcionário público. Faleceu em 1908, mas seu legado literário continua a influenciar gerações de escritores.</p>
                      <p>A primeira vez em que o Bruxo do Cosme Velho foi tratado como branco foi em sua morte. O obituário do escritor, que faleceu em 1908, o classifica como "branco", enquanto sua máscara mortuária possui claros traços que se associam a características de afro-brasileiros. Depois, com a fama do autor e disseminação de obras durante a República Velha, sua imagem foi reproduzida de maneira embranquecida.</p>
                      <p>"O maior escritor da literatura brasileira era um homem negro", reiterou Ana Flávia Magalhães Pinto, da UnB. A batalha narrativa pela representação da pele de Machado tem grande peso, principalmente por incluir entre os fatores a forte herança do racismo do século 20.</p> {% endcomment %}
                  </div>
              </div>
          </div>
        </div>
      </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html> 