* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #d9d9d9;
  --text-color-white: #fff;
  --text-color-black: #000;
  --primary-color: #0b002c;
  --secondary-color: #fff8f8;
  --font-family-main: "Lexend", sans-serif;
  --font-family-secondary: "Graduate", sans-serif;
  --font-size-large: 2.875rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 2rem;
  --font-size-xsmall: 1.5rem;
  --border-radius: 0.9375rem;
}

body {
  background-color: var(--background-color);
}

section.apresentacao-login > p {
  color: var(--text-color-white);
  text-align: center;
  font-family: var(--font-family-main);
  font-size: var(--font-size-large);
  font-weight: 400;
}

.img-logo {
  width: 31.25rem;
  height: 16.125rem;
}

input.senha,
input.email,
input[name="username"] {
  width: 29.1875rem;
  height: 4.375rem;
  font-family: var(--font-family-main);
  border-radius: var(--border-radius);
  border: 1px solid var(--text-color-black);
  font-size: var(--font-size-medium);
  font-weight: 400;
  background: var(--background-color);
}

#usuario,
input[name="username"] {
  width: 29.1875rem !important;
  height: 4.375rem !important;
  font-family: var(--font-family-main) !important;
  border-radius: var(--border-radius) !important;
  border: 1px solid var(--text-color-black) !important;
  font-size: var(--font-size-medium) !important;
  font-weight: 400 !important;
  background: var(--background-color) !important;
}

input.senha::placeholder,
input.email::placeholder,
.usuario::placeholder,
input[name="username"]::placeholder {
  color: var(--text-color-black);
  font-family: var(--font-family-main);
  font-size: var(--font-size-medium);
  font-weight: 400;
}

#usuario::placeholder,
.usuario::placeholder,
input[name="username"]::placeholder {
  color: var(--text-color-black) !important;
  font-family: var(--font-family-main) !important;
  font-size: var(--font-size-medium) !important;
  font-weight: 400 !important;
}

.logo-cabecalho {
  width: 6.5rem;
  height: 5.5rem;
}

.btn-login {
  width: 29.1875rem;
  height: 4.5625rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-family-main);
  font-size: var(--font-size-medium);
  font-weight: 700;
}

.btn-login:hover,
.btn-login:focus,
.barra-navegacao {
  background-color: var(--primary-color) !important;
}

.navbar-collapse a {
  color: var(--text-color-white);
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-medium);
  font-weight: 400;
}

section.bem-vindo,
section.destaque > h2 {
  background-color: var(--primary-color);
}

.fotos-destaque > div {
  width: 23.125rem;
  height: 300px;
  overflow: hidden;
}

.destaque > h2 {
  width: 29.6875rem;
  height: 4.09044rem;
}

.text-azul {
  color: var(--primary-color);
}

.bg-azul {
  background-color: var(--primary-color);
}

.padre-cicero {
  background-image: url("../img/Rectangle 29.png");
  background-repeat: no-repeat;
}

.dandara {
  background-image: url("../img/Recriando_Imagens_Dandara_dos_Palmares_frontal_portrait 1.png");
  background-repeat: no-repeat;
}

.machado-de-assis {
  background-image: url("../img/Recriando_Imagens_Machado_de_Assis_frontal_portrait 3.png");
  background-repeat: no-repeat;
}

.faces-reconstruidas > h1 {
  width: 28.75rem;
  height: 3.375rem;
  color: var(--text-color-white);
  text-align: center;
  font-family: var(--font-family-main);
  font-size: var(--font-size-small);
  font-weight: 900;
}

.padre-cicero-reconstruido,
.dandara-reconstruida,
.machado-de-assis-reconstruido {
  width: 23.4375rem;
  height: 38.5625rem;
  background-repeat: no-repeat;
}

.padre-cicero-reconstruido {
  background-image: url("../img/Recriando_Imagens_Padre_Cicero_frontal_portrait._Hyper_realism 2.png");
}

.dandara-reconstruida {
  background-image: url("../img/Recriando_Imagens_Dandara_dos_Palmares_frontal_portrait 2.png");
}

.machado-de-assis-reconstruido {
  background-image: url("../img/Recriando_Imagens_Machado_de_Assis_frontal_portrait 2.png");
}

.reflexao > h1 {
  width: 28.75rem;
  flex-shrink: 0;
}

.detalhe > h1 {
  max-width: 28.75rem;
  height: 3.375rem;
}

.card-ocucacao {
  width: 31.375rem;
  height: 22.0625rem;
  flex-shrink: 0;
}

@media only screen and (max-width: 500px) {
  .faces-reconstruidas > h1 {
    width: auto !important;
  }
}
